body {
  min-height: 2000px;
  padding-top: 70px;
}

.placeholder {
  visibility:hidden;
}

.modal-open .modal,.btn:focus{
    outline:none!important;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

div.background {
  float: left;
  width: 120px;
  height: 140px;
}

div.background-image-container {
  width: 100px;
  height: 105px;
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 5px;
}

div.waiting {
  display: none;
}

img.landscape-background {
  width: 100px;
}

img.portrait-background {
  height: 100px;

}
