<h2>Search</h2>
  <div class="row">
    <div class="form-group" data-toggle="tooltip" data-placement="right" 
         title="As user types keywords the matching images on the right will be loaded">
      {{view Ember.TextArea class="form-control xinput-sm" rows="4" id="name" 
            placeholder="enter words describing your design such as 'formal', 'grunge', 'casual' and terms like 'baptism', 'holiday', 'invitation'.  As you type we will begin searching for designs that match"
            onEvent="keyPress" valueBinding="q"}}
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="name">Add Pictures?</label>
      <select class="form-control">
        <option>Maybe</option>
        <option>No</option>
        <option>1 Picture</option>
        <option>2 Pictures</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Size</label>
      <select class="form-control">
        <option>Don't Care</option>
        <option>5x7</option>
        <option>5.5x8.5</option>
        <option>4x6</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Front & Back</label>
      <select class="form-control">
        <option>Show them all</option>
        <option>Color Front</option>
        <option>Color Front and Back</option>
        <option>Color Front and B&W Back</option>
        <option>Black and White Front</option>
        <option>B&W Front and Back</option>
      </select>
    </div>
</div>
</div>