<div class="container">
  <div class="row">
  <div class="col-sm-8">
    <h1>Tutorial!</h1>
    <p>pictures circles and arrows go in here, explaining how to do it. <p>
    <div data-lorem="2-4p"></div>
  </div>
  
  <div class="col-sm-4">
    <div class="flex-video">
      <iframe src="https://www.youtube.com/embed/LGKOspZYipQ?feature=player_embedded" 
      frameborder="0" allowfullscreen=""></iframe>
    </div>
  
    <hr>
    
    <div col-md-1>
      <a class="twitter-timeline" data-tweet-limit="10" href="https://twitter.com/catprint/favorites"
      data-widget-id="345659035128832000">Favorite Tweets by @catprint</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(1||!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>